{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2 class="text-center">Login</h2>
<form action="login" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="usenamer_input">Username</label>
    <input type="text" class="form-control" id="username_input" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password_input">Password</label>
    <input type="password" class="form-control" id="password_input" name="password" placeholder="Password">
  </div><br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<div>
  {% for message in messages %}
    <h3 class="text-center text-danger"> {{message}} </h3>
  {% endfor %}
</div>
{% endblock %}