{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2 class="text-center">Login</h2>
<form action="login" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="userInput">Username</label>
    <input type="text" class="form-control" id="userInput" name="username" placeholder="Username"><br>
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password"><br>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
  {% for message in messages %}
    <h3 class="text-center text-danger"> {{message}} </h3>
  {% endfor %}
</div>
{% endblock %}