{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h2 class="text-center">Register</h2>
<h4 class="text-center">Create your account</h2>
<form action="register" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="first_name_input">First name</label>
    <input type="text" class="form-control" id="first_name_input" name="first_name" placeholder="Type your first name">
  </div>
  <div class="form-group">
    <label for="last_name_input">Last name</label>
    <input type="text" class="form-control" id="last_name_input" name="last_name" placeholder="Type your last name">
  </div>
  <div class="form-group">
    <label for="usenamer_input">Username</label>
    <input type="text" class="form-control" id="username_input" name="username" placeholder="Type your username">
  </div>
  <div class="form-group">
    <label for="email_input">Email</label>
    <input type="email" class="form-control" id="email_input" name="email" placeholder="Type your email (example@example.com)">
  </div>
  <div class="form-group">
    <label for="password_1_input">Password</label>
    <input type="password" class="form-control" id="password_1_input" name="password_1" placeholder="Type your password">
  </div>
  <div class="form-group">
    <label for="password_2_input">Confirm password</label>
    <input type="password" class="form-control" id="password_2_input" name="password_2" placeholder="Confirm your password">
  </div><br>
  <button type="submit" class="btn btn-primary">Register now</button>
</form>
<div>
  {% for message in messages %}
    <h3 class="text-center text-danger"> {{message}} </h3>
  {% endfor %}
</div>
{% endblock %}